# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/tmp/.keep
/public/cache
/public/upload
/public/system
/public/assets
.DS_Store
.byebug_history
.rvmrc
/config/initializers/stripe.rb
# Ignore application configuration
/config/application.yml
/config/database.yml
.env
.idea
todo.md
/node_modules

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key
