<% @books.group_by { |r| r[:serie] }.sort.each do |serie| %>
  <p><strong><%= serie.first %></strong></p>

  <ul>
    <% serie.last.each do |book| %>
      <li><%= link_to tome_and_title(book), book[:url] %></li>
    <% end %>
  </ul>
<% end %>
