<% cache ['v1', book] do %>
  <%= content_tag_for :div, book, class: 'col-sm-6 col-md-2', style: 'padding-left:0; padding-right:0; border: 1px solid #010101; border-bottom: none;' do %>
    <!-- <img src="http://placehold.it/230x222"> -->
    <%= image_tag('louve.jpg', size: '230x250') %>
    <!-- <div class="thumbnail">
      <%#= coverz(book) %>
    </div> -->
  <% end %>
<% end -%>