<%= render 'search_form' %>
<div id="search-results"></div>

<% if @list_view %>
  <table class="table">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Tome</th>
        <th>Série</th>
        <th>Auteur(s)</th>
        <th>Éditeur</th>
        <th>Date de publication</th>
      </tr>
    </thead>

    <tbody>
      <% @series.each do |book| %>
        <%= render 'book_list', book: book %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="row" id="books">
    <%= render @books %>
  </div>
<% end %>
