<% if @results.present? %>
  <% if @results.total_results > 0 %>
    $("#search-results").html($("<%= j(render 'books/search_results') %>"));
  <% else %>
    $("#search-results").html($("<p class='alert alert-danger'>Aucun livre trouvé.</p>"));
  <% end %>
<% elsif @error_msg.present? %>
  $("#search-results").html($("<p class='alert alert-danger'><%= @error_msg %></p>"));
<% end %>
