body {
  background: #010101;
	font-family: 'Droid Sans', Helvetica, Arial, Sans-Serif;
	margin-bottom: 50px;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
  padding-top: 100px;
}

::selection,
::-moz-selection {
	background: #f2f2f2;
  color: #000;
  text-shadow: none
}

.page-title {
  margin-bottom: 40px;
}

.container {
  width: 1380px;
}

#error-container {
	margin-bottom: 20px;
}
