@import "compass";
/* -----------------------------------------
/* Layout
----------------------------------------- */
body {
  //background: #222222;
	font-family: 'Droid Sans', Helvetica, Arial, Sans-Serif;
	margin-bottom: 50px;
	//color: #fff;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	//@include text-shadow(0px -1px 0 #000);
}

::selection {
	background: #f2f2f2;
  color: #000;
  text-shadow: none
}

::-moz-selection {
    background: #f2f2f2;
    color: #000;
    text-shadow: none
}

.page-title {
  margin-bottom: 40px;
}


/* -----------------------------------------
/* Browser styling
----------------------------------------- */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #010101
}

::-webkit-scrollbar-button {
    display: none;
    background-color: #010101
}

::-webkit-scrollbar-track-piece {
    background-color: #303030
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {
    background-color: #717171;
    -webkit-border-radius: 4px
}