<div class="modal fade" id="page-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <%= render "books/form", locals: { book: @book } %>
    </div>
  </div>
</div>
