<div id="page-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="spinner"></div>
        </div>
      </div>
    </div>
  </div>
</div>